/*header part start*/
body {
    overflow-x: hidden;
}

header {
	background: url("../img/back.png") no-repeat top;
	background-size: cover;
	

}

.myclass {
    padding: 28px 0px;
    /*background-color: #fff;*/
    
}

.myclass2 {

}
.myclass2 ul {
    /* display: inline-block; */
    list-style: none;
}
.myclass2 ul li {
    display: inline-block;
    margin: 21px 0px;
    margin-left: 55px;
    color: #fff;
}
.myclass2 ul li a {
    color: #fff;
    text-decoration: none;
}
.sless {


}

.myclass3 {
    padding: 29px 6px;
}
.myclass3 h1 {
    background-color: rgba();
    background-color: rgba(0,0,0,0.6);
    color: #fff;
    width: 69%;
}
.myclass3 p {
    margin-top: 3%;
    color: #fff;
}
.underline {
    width: 10%;
    border-bottom: 2px solid #fff;
    display: block;
    margin: 23px 0px;
}

.btn-cstm {
    padding: 6px 42px;
    background-color: transparent;
    border: 1px solid #fff;
    margin-top: 13px;
    color: #fff;
}

/*header part end*/

/*welcome section start*/

.welcome {
    background-color: #B4B4B4;
    padding-top: 66px;
    padding-bottom: 65px;
}

.parent1 {
    position: absolute;

}
.child1 {
    position: relative;
    top: 3%;
    left: 81%;
}
.child2 {
    position: relative;
    top: -58%;
    left: 120%;
}
.img-1 {
    width: 300px;
    height: 100px;
}
/*welcome section end*/

/*another section start*/
.another {
    background-color: #28282E;
    color: #fff;
    padding-top: 70px;
    padding-bottom: 62px;


}
.img-2 {
    padding-top: 38px;

}

/*another section end*/

/*about section start*/


.about {
    padding: 50px 0px;

}
.parent2 {
    position: absolute;

}

.parent2 p{
    margin-top: 20px;

}

.child3 {
    top: 19px;
    position: relative;
    right: 117px;
}
.child4 {
    position: relative;
    top: 7px;
    right: 185px;
}


/*about section end*/
/*footer part start*/

footer {
	background-color: #EF4035;
}

.my-footer p{
	padding:15px 0px;
	color: #fff;

}

/*footer part end*/

